site_name: PhantasyStarDocs
site_url: https://phantasystardocs.github.io/
github_repo: https://github.com/phantasystardocs/phantasystardocs.github.io
site_description: Phantasy Star modding guides and tools
nav:
  - Home: index.md
  - Tools:
    - tools/index.md
    - Classic Phantasy Star series:
        - Common: tools/classic-phantasy-star/common/common.md
    - Phantasy Star Universe/Portable series:
        - Common: tools/phantasy-star-universe-and-portable-series/common/common.md
    - Phantasy Star Zero:
        - Encryption and Archives: tools/phantasy-star-zero/encryption-and-archives/archives.md
        - Graphics Data: tools/phantasy-star-zero/graphics-data/graphics.md
    - Phantasy Star Online 2/New Genesis:
        - Archives: tools/phantasy-star-online-2/archives/archives.md
        - Character Files: tools/phantasy-star-online-2/salon/salon.md
        - Graphics: tools/phantasy-star-online-2/graphics/graphics.md
        - Spreadsheets: tools/phantasy-star-online-2/spreadsheets/spreadsheets.md
        - Symbol Art: tools/phantasy-star-online-2/symbol-art/sa.md
        - Misc: tools/phantasy-star-online-2/misc/misc.md
    - Phantasy Star Online 2 ES and Idola Phantasy Star Saga:
        - Common: tools/phantasy-star-online-2-es-and-idola-phantasy-star-saga/common/common.md
    - Phantasy Star Nova:
        - Common: tools/phantasy-star-nova/common/common.md
  - Guides:
    - guides/index.md
    - Hedgehog Engine:
      - Common:
        - Lighting/GI:
          - Example Guide: guides/hedgehog-engine/common/lighting/example.md
      - Sonic Generations: 
        - File Formats:
          - XNCP: 
            - Basics: guides/hedgehog-engine/blueblur/files/xncp/basics.md
            - Animations: guides/hedgehog-engine/blueblur/files/xncp/anims.md
        - Level Editing:
          - Sonic GLvl: guides/hedgehog-engine/blueblur/levels/glvl.md
    - Other Engines:
      - Sonic The Hedgehog (2006):
        - Level Editing:
          - Sonic GLvl: guides/others/marathon/levels/glvl.md
  - File Formats:
    - file-formats/index.md
    - Common Formats:
        - Criware:
            - ACB: file-formats/common-formats/criware/acb.md
            - ADX: file-formats/common-formats/criware/adx.md
            - AFS: file-formats/common-formats/criware/afs.md
            - AWB: file-formats/common-formats/criware/awb.md
            - CPK: file-formats/common-formats/criware/cpk.md
            - HCA: file-formats/common-formats/criware/hca.md
        - LUA: file-formats/common-formats/lua.md
        - Sega Formats: file-formats/common-formats/sega-formats.md
    - Phantasy Star Nova:
        - Formats: file-formats/phantasy-star-nova/formats/formats.md
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra_css:
  - stylesheets/extra.css
plugins:
  - search 
  - mkdocs-video
  - git-committers:
      exclude: 
        - index.md
        - tools/*
        - guides/index.md
        - discoveries/index.md
  - git-revision-date-localized:
      type: timeago
      exclude:
        - index.md
        - tools/*
        - guides/index.md
        - discoveries/index.md
theme:
  logo: assets/icon.svg
  favicon: assets/favicon.png
  name: material
  custom_dir: overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to AMOLED mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: amoled
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
